* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section h2 {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-block: 20px;
}

a {
    height: 18%;
}


html {
    width: auto;
    height: auto;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.Container {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, black, rgb(0, 0, 65));
    background-size: 200%;
    animation: colors 10s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

main {
    width: 100%;
    height: calc(100% - 118px);
    margin-top: 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    flex-wrap: nowrap;
}

@media(max-width: 715px) {
    .controls {
        flex-wrap: wrap !important;
    }
}

.cards {
    display: grid;
    grid-gap: 30px;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 15px;
    color: white;
}

/* .card {
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards; 
    border: 1px solid white;
    border-radius: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} */




/* From Uiverse.io by pkwebworks3 */ 
.card {
    --bg-card: #27272a;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 20rem;
    background-color: var(--bg-card);
    border: 0.2px solid var(--blue);
    border-radius: 1rem;
  }
  
  .image_container {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 11rem;
    background-color: var(--primary-800);
    border-radius: 0.5rem;
  }
  
  .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .aplicativoImg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
  
  .title {
    overflow: clip;
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-align: center;
    text-overflow: ellipsis;
  }

  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .responsive {
    width: max-content;
    font-size: 1rem;
    background-color: var(--green);
    margin-block: 0.5rem;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
  }
  
  .list-tech {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-top: 0.25rem;
  }

  .list-tech p {
    background-color: var(--primary);
    color: var(--light);
    padding: 1px 5px;
    border-radius: 5px;
    cursor: default;
  }

  .container_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link_button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #6d28d9;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.link_button::after, .link_button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text_link {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_button-wrapper,.text_link,.icon_link {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text_link {
  top: 0
}

.text_link,.icon_link {
  transition: top 0.5s;
}

.icon_link {
  opacity: 0;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_link svg {
  width: 24px;
  height: 24px;
}

.link_button:hover {
  background: #6c18ff;
}

.link_button:hover .text_link {
  opacity: 0;
  cursor: pointer;
  top: -20%;
}

.link_button:hover .icon_link {
  opacity: 1;
  cursor: pointer;
  top: 0;
}

.link_button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.link_button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}






